:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: hsl(0, 0%, 14%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #888;
    background-color: #ffffff;
  }

  button {
    background-color: #f9f9f9;
  }
}


.landing-page {
  text-align: center;
  
}

header {
  background-color: #fff;
  color: #888;
  padding: 20px;
  border-radius: 10px;
  margin-top: 5%;

}



footer {
  background-color: #fff;
  color: 888;
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;

}


/*estilos apoyo*/
.apoyo {
  margin-top: 20px;
  display: block;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
}

/*estilos glosario*/
.glosario {
  margin-top: 20px;
  display: block;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
}

.glosario h2 {
  font-size: 24px;
  color: #888;
}

.glosario ul {
  list-style-type: none;
  padding: 0;
}

.glosario li {
  margin-bottom: 10px;
  text-align: justify;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    display: block;
}


/*estilos para el menu*/
.navbar{
  background:#888;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10; 

}
.nav_logo{
  font-weight: bold;
  font-size: 20px;
  margin: 15px;
  color:white;
}
.nav_items a{
margin: 15px;
  color: rgb(255, 255, 255);
  position: relative;
  text-decoration: none;
  background-color: #888;
}
.nav_toggle{
  display: none;
}

.parrafo{
  text-align: justify;
}

.div1{

height: 10vh;

}

.imgInicio{

  width: 70%;
}

.umbrales{

  width: 100%;
}

@media (max-width: 768px) {
  .nav_items{
      position: fixed;
      top: 70px;
      left: 0;
      background: #888;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: -webkit-fill-available;        
      transform: translateX(-100%);
      transition: 0.3s ease all;
  }
  .nav_items.open{
      transform: translateX(0) !important
  }
  .nav_toggle{
      display: flex !important;
      flex-direction: column;                
      margin: 15px;
  }
  .nav_toggle span{
      width: 30px;
      height: 4px;
      background: white;
      margin-bottom: 5px;
      border-radius: 2px;             
      transform-origin: 5px 0px;
      transition: all 0.2s linear;
  }
  .nav_toggle.open > span{
      transform: rotate(45deg) translate(0px, 0px);
  }
  .nav_toggle.open > span:nth-child(2){
      display: none;
  }
  .nav_toggle.open > span:nth-child(3){
      transform: rotate(-45deg) translate(-5px, 1px);
  }






}



@media screen and (min-width: 320px) {

h1{

  font-size: 2.3rem;
  margin-left: 2%;

}



}

/*oden del dia estilos*/

/* Estilos para la sección "Orden del Día" */
.orden-del-dia {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-top: 20px;
  display: block;
  text-align: left;
}

.orden-del-dia h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.orden-del-dia ul {
  list-style: none;
  padding: 0;
}

.orden-del-dia li {
  margin: 5px 0;
  padding-left: 20px;
  position: relative;
}

.orden-del-dia li::before {
  content: '•'; /* Viñeta personalizada (puedes usar otro carácter) */
  position: absolute;
  left: 0;
  color: #007BFF; /* Color de la viñeta */
}



@media (min-width: 768px) {
  /* Tus estilos para pantallas de 768 píxeles o más */
  .umbrales,.imgInicio{

    width: 30%;

  }
}


